<section>
  <h1>About</h1>
  {% comment %}
  {% img /images/avatar.jpg  'Dave Liggat' %}
  {% endcomment %}
  <p>Indie Rails/Analytics Consultant at <a href="http://factorialsystems.ca">Factorial Systems Inc</a></p>
  <a href="https://twitter.com/liggs" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @liggs</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
  </script>
</section>
