/* Page specific CSS because the HTML structure more or less forces it and I'm too lazy to fix. */
h1 {
  margin-bottom: 0.6em;
}

h4 {
  margin-bottom: 0.5em;
}

article {
  font-family: 'Lora', serif;
}

article a, a:visited {
  text-decoration: none;
  white-space: nowrap;
  color: #0066CC;
}

