// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

$cad-red:  #800000;
$usd-blue: #0000A0;

// Note: applies styling to h1 elements with class="entry-title".
h1.entry-title {
  font-family: $entry-title;
}

header hgroup {
  h1 {
    font-size: 1.8em;
  }
  h2 {
    font-size: 0.8em;
  }
}

footer p {
  margin-bottom: 0.1em;
  line-height: 1.3em;
}

aside.sidebar section h1 {
  font-family: $sans;
  font-weight: normal;
  padding-bottom: 0.6em;
}

.duration-statement {
  font-size: 85%;
}

h4 {
  margin-bottom: 2px;
}

body > nav {
  border-top: none;
  border-bottom: none;
  a {
    line-height: 1.4em;
  }
}

.entry-content {
  font-family: $entry-content;
  a, a:visited {  // Style links within .entry-content elements Get rid of visited colours.
    white-space: nowrap;
    text-decoration: none;
    color: #0066CC;
  }
}

.meta {
  color: #aaa;
}

// Note: style all li elements in the DOM.
li {
  margin-bottom: 10px;
}

time {
  text-transform: capitalize;
}

@mixin money-block {
  border-radius: 0.4em;
  display: inline-block;
  line-height: 1.5em;
  font-size: 0.8em;
  padding: 0 0.3em;
}

.money {
  font-weight: bold;
  font-family: "Helvetica Neue", sans-serif;
  &.usd {
    color: $usd-blue;   // Generates .money.usd { font-weight: bold; color: #0000A0; }
    &.price {
      border: 1px solid $usd-blue;
      @include money-block;
    }
  }
  &.cad {
    color: $cad-red;
    &.price {
      border: 1px solid $cad-red;
      @include money-block;
    }
  }
}

// Style the td elements within tr rows in thead blocks (column titles, in other words).
thead {
  tr {
    td {
      font-weight: bold;
    }
  }
}


// Note: apply the same rules to both ul and ol items, but these are otherwise unrelated.
ul, ol {
  margin-left: 20px;
}


.footnotes {
  margin-top: 50px;
  font-size: 75%;          // Note: every element within a .footnotes div has font-size set to 75%.
  line-height: 1.4em;
  ol {
    color: #888888;        // Note: style the ol number only by styling the whole ol, then the nested p.
    p {
      margin-bottom: 1em;
      color: #000000;      // Note: generates:  .footnotes ol p { color: #000000; }
                           // Applies styling to all p elements which have
                           // descendance: .footnotes -> ol -> p.
    }
  }

}
